In [1]:
! pip install dnspython
!pip install pymongo[srv]

Collecting dnspython
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 17.6 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.1.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

In [13]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://guvi:guvi@cluster0.9tkvx.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.teledict
records = db.directory

In [37]:
records=db.Data
Data_1={
    'Name':input(),
    'Phone':int(input()),
    'Place':input()
}
records.insert_one(Data_1)

divya
985828285
cuddalore

In [36]:
#inserting collection to database
list1=[
          {"name":'Abi',"Phone":987673242,"Place":'ooty'},
          {"Name":'Anu',"Phone":987875888,"Place":'coimbatore'},
          {"Name":'Vani',"Phone":952545255,"Place":'cuddalore'},
          {"Name":'Dhee',"Phone":654588227,"Place":'pondy'},
          {"Name":'Peter',"Phone":617481875,"Place":'thircy'},
          {"Name":'Henry',"Phone":994528284,"Place":'chennai'}
          
]
records.insert_many(list1)

#find data

In [38]:
for x in records.find({'Place':'cuddalore'},{'Name':1,'Phone':1,'Place':1}):
  print(x)

{'_id': ObjectId('625d367f04130016ea405516'), 'Name': 'Vani', 'Phone': 952545255, 'Place': 'cuddalore'}
{'_id': ObjectId('625d36b404130016ea40551a'), 'Name': 'divya', 'Phone': 985828285, 'Place': 'cuddalore'}

#Update

In [39]:
query={'Name':"Vani"}
new={'$set':{'Place':'ooty'}}
records.update_one(query,new)
for x in records.find():
  print(x)

{'_id': ObjectId('625d367f04130016ea405514'), 'name': 'Abi', 'Phone': 987673242, 'Place': 'ooty'}
{'_id': ObjectId('625d367f04130016ea405515'), 'Name': 'Anu', 'Phone': 987875888, 'Place': 'coimbatore'}
{'_id': ObjectId('625d367f04130016ea405516'), 'Name': 'Vani', 'Phone': 952545255, 'Place': 'ooty'}
{'_id': ObjectId('625d367f04130016ea405517'), 'Name': 'Dhee', 'Phone': 654588227, 'Place': 'pondy'}
{'_id': ObjectId('625d367f04130016ea405518'), 'Name': 'Peter', 'Phone': 617481875, 'Place': 'thircy'}
{'_id': ObjectId('625d367f04130016ea405519'), 'Name': 'Henry', 'Phone': 994528284, 'Place': 'chennai'}
{'_id': ObjectId('625d36b404130016ea40551a'), 'Name': 'divya', 'Phone': 985828285, 'Place': 'cuddalore'}

#Delete

In [40]:
query = { "Name": "Henry" }      #selecting collection to be deleted
 
records.delete_one(query)

for x in records.find():
  print(x)

{'_id': ObjectId('625d367f04130016ea405514'), 'name': 'Abi', 'Phone': 987673242, 'Place': 'ooty'}
{'_id': ObjectId('625d367f04130016ea405515'), 'Name': 'Anu', 'Phone': 987875888, 'Place': 'coimbatore'}
{'_id': ObjectId('625d367f04130016ea405516'), 'Name': 'Vani', 'Phone': 952545255, 'Place': 'ooty'}
{'_id': ObjectId('625d367f04130016ea405517'), 'Name': 'Dhee', 'Phone': 654588227, 'Place': 'pondy'}
{'_id': ObjectId('625d367f04130016ea405518'), 'Name': 'Peter', 'Phone': 617481875, 'Place': 'thircy'}
{'_id': ObjectId('625d36b404130016ea40551a'), 'Name': 'divya', 'Phone': 985828285, 'Place': 'cuddalore'}